
<!-- model pt servers si server component -->
 <!-- <div class="container">

  <div class="row">
    <div class="col-xs-12">
        <h3>I'm a the app component</h3>
         <hr/>
        <app-servers></app-servers>
        <app-warning-alert></app-warning-alert>
    </div>
  </div>
 
</div>   -->


<!-- part2 -->

<!-- <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBluePrintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn  btn-primary" (click)="onChangeFirst()">Change first element</button>
      <button class="btn  btn-danger" (click)="onDestroyFirst()">Destroy</button>
      Server Elements
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
          
              <p #contentParagraph>
                <strong *ngIf="serverElement.type==='server'" style="color:red">{{ serverElement.content}}</strong>
                <em *ngIf="serverElement.type==='blueprint'">{{ serverElement.content}}</em>
                
              </p>
            
      </app-server-element>
    </div>
  </div>
</div> -->


 
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
      
      <!-- <app-recipes *ngIf="loadedFeature==='recipe'" ></app-recipes>
      <app-shopping-list *ngIf="loadedFeature!='recipe'" ></app-shopping-list> -->
    </div>
  </div>

</div>  

<!-- <p appBasicLight>Basic Hilight</p>
<p appBetterHighlight  [defaultColor]="'yellow'" [highlightColor]="'red'">Basic Hilight</p> -->

<!-- <app-alert message="This is a normal Alert Component"></app-alert> -->

<!-- <div [innerHTML]="content"></div> -->